@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Patrick+Hand+SC&display=swap');

:root {
  --beige: #EFE29B;
  --white: #F0F0F0;
  --pink: #DB3069;
  --green: #4CB944;
  --blue: #2B50AA;
  --yellow: #F5D547;
  --orange: #FA8334;
  --text: #152A5E;
  --dark: #272727;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--dark);
  margin: 0;
  line-height: 1.6;
  font-family: 'Pangolin', cursive;
  font-size: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--pink);
  font-family: 'Patrick Hand SC', cursive;
}